modules/.terraform.lock.hcl
modules/.terraform
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as password, private keys, and other secrets.
*.tfvars

# Ignore override files as they are usually used to override resources locally and so are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include tfplan files to ignore Terraform plan output files
*.tfplan

# Ignore .terraformrc and terraform.rc files as they are usually used for local configuration
.terraformrc
terraform.rc

# Ignore the terraform.tfvars file in the specific directory
github-deployment/tfvars/terraform.tfvars